{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <h2 class="text-center">Inscription</h2>

    <div class="container">
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_start(form) }}
    </div>

{% endblock %}
